.button {
  display: block;
  background-color: $accent;
  text-transform: uppercase;
  color: $white;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding-top: 14.5px;
  padding-bottom: 17.5px;
  border: none;
  font-family: inherit;
}
