.footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
  text-align: center;
}
.footer__social-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer__social-item {
  background-color: $accent;
  width: 46px;
  height: 48px;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
}

.footer__logo {
  display: flex;
  justify-content: center;
}

.footer__text-logo {
  text-transform: uppercase;
  position: relative;
  margin-right: 35px;

  &::after {
    content: "";
    position: absolute;
    background: url("../img/htmlacademy.svg") 0 0 no-repeat;
    width: 27px;
    height: 35px;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
  }
}
