.header {
  position: relative;
  min-width: 320px;
}

.header__top {
  background-color: $white;
  height: 56px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.header__intro {
  height: 389px;
  background: url("../img/mobile/back-mobile.jpg") 0 0/cover no-repeat;
  padding: 90px 20px 85px;

  @media (min-width: 768px) {
    height: 518px;
    padding-top: 77px;
    background: url("../img/desktop/back-desktop.jpg") 0 0/cover no-repeat;
  }
}

.header__intro--inner {
  background: url("../img/mobile/back-mobile-inner.jpg") center bottom/cover no-repeat;
  height: 155px;

  @media (min-width: 768px) {
    height: 346px;
    background: url("../img/desktop/back-desktop.jpg") 0 bottom/cover no-repeat;
  }
}

.header__image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    height: 350px;
  }
}
