.main__header {
  text-align: center;
}

.main__title {
  color: $black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.main__desc {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
