.reasons__list {
  padding: 0;
  list-style: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   }
}

.reasons__row {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/-1;
  }
}

.reason {
  background-color: $white;
  text-align: center;
  color: $black;
}

.reason--blue {
  background-color: $accent;
  color: $white;
}

.reason--picture {
  max-height: 256px;

  @media (min-width: 768px) {
   grid-column: span 2;
  }
}

.reason--gray {
  background-color: $light-grey;
}

.reason--gray:not(:last-child) {
  border-bottom: 1px solid $grey;
}

.reason__title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.reason__descr {
  text-transform: uppercase;
  margin: 0;
}

.reason__list {
  list-style: none;
  padding: 0;
}
